.vscode

**/x86_64-native-linuxapp-gcc/
stack_and_service/light_service_build.h
stack_and_service/stack_and_service/
stack_and_service/service/stack_and_service/
stack_and_service/service/light_app_api/stack_and_service/
stack_and_service/service/light_app_api/.ll.o.cmd
stack_and_service/service/light_app_api/.ll.o.d
stack_and_service/service/log/
*.o
light_h6.so
*.udb
**/build/**
**/.DS_Store
nginx_nworker.conf
out*.file

monitor/monitor.app
tcp_sender_o
sender
sender_thread
epoll_server
epoll_server_multithread
write_fifo
epoll_client_o
epoll_client_multi
